.container{
    background: linear-gradient(180deg, rgba(5, 11, 20, 0.28) 0%, rgba(1, 13, 32, 0.69) 67.53%, #0A0B1A 85.33%);
}

.wrapper{
    /* background-color: red; */
    width: 1151px;
    height: 942px;
    margin-left: 151px;
    /* margin-top: 984px; */
}

.space{
    background: linear-gradient(180deg, rgba(5, 11, 20, 0.28) 0%, rgba(1, 13, 32, 0.69) 67.53%, #0A0B1A 85.33%);

}